streamlit
pandas
plotly
python-dotenv
requests
# Install the local Custom_Agents package in editable mode
-e ../../Custom_Agents
#git+https://github.com/giuseppedavidde/Custom_Agents.git#egg=custom_agents
