streamlit
pandas
plotly
python-dotenv
# Install the local Custom_Agents package in editable mode
# pip install -e ../../Custom_Agents
git+https://github.com/giuseppedavidde/Custom_Agents.git#egg=custom_agents
